.top {
  margin: 40px;
}

input[type="file"] {
  display: none;
}

.choose {
  background: linear-gradient(to bottom, #5aff15, #00b712);
  border-radius: 6px;
  color: #e1d3d3;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.choose:hover {
  box-shadow: 0 3px 8px rgba(22, 21, 21, 0.5);
}

.textArea {
  color: black;
}

.upload {
  border: 1px solid #06e463;
  background-color: #13aa52;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.upload:hover {
  border: 1px solid #13aa52;
  background-color: #a5efc1;
}

.upload:disabled,
.upload[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.container {
  padding: 10px;
  display: flex;
  align-items: center;
}
